<mat-card class="center-card">
    <mat-card-content>
        <div>
            <form [formGroup]="postNewsForm">
                <mat-form-field appearance="fill">
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="title">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Image</mat-label>
                    <input matInput formControlName="image">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Content</mat-label>
                    <textarea rows="5" matInput formControlName="content"></textarea>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Posted by</mat-label>
                    <input matInput formControlName="postedBy">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Tags</mat-label>
                    <mat-chip-grid #chipGrid aria-label="Enter tags">
                      <mat-chip-row *ngFor="let tag of tags; let i = index" (removed)="removeTags(tag)">
                        {{tag}}
                        <button matChipRemove>
                          <mat-icon>cancel</mat-icon>
                        </button>
                      </mat-chip-row>
                      <input placeholder="New Tag..."
                             [matChipInputFor]="chipGrid"
                             (matChipInputTokenEnd)="addTags($event)"/>
                    </mat-chip-grid>
                  </mat-form-field>

                <button mat-raised-button color="primary" style="float: right;"
                [disabled]="!postNewsForm.valid" (click)="postNews()">Post news</button>
            </form>
        </div>
    </mat-card-content>
</mat-card>
