<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Blog App</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="primary" routerLink="/blog/post">Post news</button>
  <button mat-raised-button color="primary" routerLink="/blog/view">view news</button>
  <button mat-raised-button color="primary" routerLink="/blog/search-by-title">Search news</button>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>