<div *ngIf="postData" class="card-container">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ postData.title }}</mat-card-title>
        <mat-card-subtitle>Posted by : {{ postData.postedBy }} | Posted On: {{ postData.datePosted | date: 'medium' }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="postData.image" height="300px" class="img" alt="Card Image">
      <mat-card-content>
        {{ postData.content }}
      </mat-card-content>
      <br>
      <mat-chip-set>
        <mat-chip *ngFor="let tag of postData.tags">{{ tag }}</mat-chip>
      </mat-chip-set>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="likeNews()">{{ postData.likeCount }} <mat-icon>favorite</mat-icon></button>
        <button mat-raised-button color="primary" style="margin-left: 5px;">{{ postData.viewCount }} <mat-icon>remove_red_eye</mat-icon></button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="comment-card">
      <mat-card-content>
        <h3>Publish Your Comment</h3>
        <div>
          <form [formGroup]="commentForm">
            <mat-form-field appearance="fill">
              <mat-label>Content</mat-label>
              <textarea matInput formControlName="commentText"></textarea>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Posted By</mat-label>
              <input matInput formControlName="author">
            </mat-form-field>
            <button mat-raised-button color="primary" style="float: right;" [disabled]="!commentForm.valid"
            (click)="publishComment()">Publish Comment</button>
          </form>
        </div>
      </mat-card-content>
    </mat-card>

    <div style="margin-top: 10px;">
      <h4>Comments</h4>
      <mat-card style="margin-top: 10px;" *ngFor="let comment of comments">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ comment.author }}</mat-card-title>
          <mat-card-subtitle>{{ comment.commentDate | date: 'medium' }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          {{ comment.commentText }}
        </mat-card-content>
      </mat-card>
    </div>
  </div>